<div class="container">
  <div *ngFor="let job of jobs">
    <div class="bloc"> <img src="{{job.companyLogo}}" alt="" />
      <a [routerLink]="['/job', job.id]">
        <div class="title">
          <span>{{ job.title }}</span>
        </div>
      </a>
      <div class="company-ref"><span> {{ job.companyName }} &nbsp; &nbsp; &nbsp; &nbsp; Reference: {{ job.reference }}
        </span>
      </div>
      <div>
        <span (click)="getFavorite(job)" class="icon-star" [ngClass]="job ? 'yellow' : ''"></span>
      </div>
    </div>
  </div>
</div>