.bloc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 160px;
    margin-left: 155px;
}

img {
    max-width: 10% !important;
}

.title {
    margin-top: 25px;
    font-size: larger;
    font-weight: bold;
    color: black;
}

.company-ref {
    margin-top: 50px;
    margin-left: -500px;
}

.yellow {
    background-color: yellow;
}