.back {
    margin-left: 484px;
}

.bloc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 470px;
    margin-left: 473px;
}

img {
    max-width: 10% !important;
}

.comp-title {
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.type-ind {
    margin-left: 110px;
}

.type,
.ind {
    color: white;
    background: darkblue;
}

.strong {
    font-weight: bold;
    color: black;
}