.back {
    margin-left: 180px;
}

.bloc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 160px;
    margin-left: 155px;
}

img {
    max-width: 10% !important;
}

.comp-title {
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.type-ind {
    margin-left: 110px;
}

.type,
.ind {
    color: white;
    background: darkblue;
}

.strong {
    font-weight: bold;
    color: black;
}