<a routerLink="/" class="btn btn-primary">Back</a>

<div class="container mt-4" *ngIf="job">
  <div class="">
    <img src="{{job.companyLogo}}" alt="" /> {{ job.companyName }} - {{ job.title }}
  </div>
  <div>{{ job.types }} {{ job.industries }}</div>
  <div>Publish date : {{job.publishDate}}</div>
  <div>Location: {{job.location}}</div>
  <div>Reference: {{job.reference}}</div>
  <p>Description: {{job.description}}</p>
  <div> Description : </div>
  <div [innerHTML]="job.description"></div>
</div>